.vscode
[Bb]uild*
diag/log/*
diag/pandas
*.ods#
*.xlsx#
adv_*
venv*
*.tgz
*.tar.gz
*.tar
pp.pdf
multiplot.pdf
cmake-3.27.7-linux-x86_64.sh
*.xlsx
*.json
*.csv
__pycache__
LOGS/
*.ipynb
.cache
pp-evolution*.pdf
